@page "/"

<!-- Top Banner - Cabeçalho -->
<TopBanner BannerTxt="H O M E">
    <h6 class="text-center m-2"> <span class="oi oi-home">Modal Component Display</span></h6>
</TopBanner>

<!-- Greeting Message -->
<div class="h85 d-flex flex-row align-items-center justify-content-center m-0 p-0">
    <h2>Welcome to your new app.</h2>
</div>

<!-- Style -->
<style>
    .h85 {
        height: 90%;
        background-color: azure;
        color: black;
    }
</style>

@code {
    //configuration _config;

}
