@inherits LayoutComponentBase

<div class="page">
    <!-- Sidebar Nenu -->
    <div class="sidebar">
        <NavMenu />
    </div>

    <!-- Single Page Area -->
    <div class="container-fluid m-0 p-0">
        <div class="container-fluid m-0 p-0 vh-100" style="border-style:double;border-color:black">
            <!-- Single page application -->
            @Body
        </div>
    </div>
</div>
