<div class="top-row pl-4 navbar navbar-dark d-flex flex-row justify-content-center m-0 p-0">

    <button class="btn navbar-toggler"  type="button" @onclick="ToggleNavMenu">
        @*<span class="navbar-toggler-icon"></span> *@      
        abc
    </button>
    @*<a class="navbar-brand " href="" >Modal </a>*@
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Auth/Register">
                <span class="oi oi-plus" aria-hidden="true"></span> User Registration
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Auth/DelConfirm">
                <span class="oi oi-plus" aria-hidden="true"></span> Message Box
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="validate">
                <span class="oi oi-plus" aria-hidden="true"></span> Validation
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
